.choose {
    margin-bottom: 100px;
    padding: 24px 0 68px;
    background-color: #F5F5F5;
}
.enter-title {
    &--cho {
        margin-bottom: 50px;
    }
}
.choose__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.choose__item {
    max-width: 350px;
    width: 100%;
    padding: 32px 38px 34px;
    text-align: center;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    &:nth-child(3) {
        padding-right: 26px;
        padding-left: 26px;
        &::before {
            background-image: url("../images/ic11.svg");
        }
    }
    &:nth-child(2) {
        &::before {
            background-image: url("../images/ic2.svg");
        }
    }
    &::before {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background-image: url("../images/ic1.svg");
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: top;
        content: '';
    }
}
.choose__item+.choose__item {
    margin-left: 30px;
}
.choose__subtitle {
    margin: 32px 0 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: $main-text-color;
}
.choose__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: $main-text-color;
}
@media only screen and (max-width:576px) {
    .enter-title {
        &--cho {
            margin-bottom: 50px;
            font-size: 32px;
            line-height: 48px;
        }
    }
    .choose__list {
        flex-direction: column;
    }
    .choose__item {
        max-width: 350px;
        width: 100%;
        padding: 32px 38px 34px;
        text-align: center;
        border: 1px solid #DEDEDE;
        border-radius: 10px;
    }
    .choose__item+.choose__item {
        margin-top: 30px;
        margin-left: 0;
    }
}