.offer {
    margin-bottom: 150px;
    padding: 35px 0 45px;
    background: linear-gradient(180deg, #F5F5F5 0%, #f5f5f500 100%);
}
.offer__title {
    margin: 0 0 90px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: $main-text-color;
}
.offer__list {
    max-width: 725px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    list-style-type: none;
}
.offer__item {
    max-width: 248px;
    width: 100%;
    text-align: center;
    &::before {
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-image: url("../images/cus-pic1.svg");
        background-repeat: no-repeat;
        background-size: 150px 150px;
        background-position: top;
        content: '';
    }
    &:nth-child(2) {
        margin-left: 230px;
        &::before {
            background-image: url("../images/cus-pic2.svg");

        }
    }
}
.offer__subtitle {
    margin: 25px 0 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.offer__sublist {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.offer__subitem {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $main-text-color;
}
.offer__bold {
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
@media only screen and (max-width:576px) {
    .offer {
        margin-bottom: 100px;
        padding: 30px 0 35px;
    }
    .offer__title {
        margin-bottom: 85px;
    }
    .offer__list {
        flex-direction: column;
        width: 250px;
        margin: 0 auto;
    }
    .offer__item {
        &:nth-child(2) {
            margin-top: 65px;
            margin-left: 0;
        }
    }
}