.header {
    padding: 18px 0;
}
.header__inner {
    display: flex;
    align-items: center;
}
.burger-btn {
    display: none;
    margin-left: auto;
    padding: 0;
    font-size: 24px;
    color: $main-text-color;
    background-color: transparent;
    border: none;
}
.menu {
    margin-left: auto;
}
.menu__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.menu__item + .menu__item {
    margin-left: 24px;
}
.dark {
    padding: 0;
    border: none;
    background-color: transparent;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: $main-text-color;
    text-decoration: none;
    &:hover {
        color: $main-text-color;
    }
    &--active {
        font-weight: 600;
    }
    &--con {
        display: inline-block;
        width: 102px;
        padding: 9px 0;
        line-height: 24px;
        color: #173A56;
        font-weight: 600;
        text-align: center;
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        transition: 0.4s all ease;
        &:hover {
            border: 1px solid #EDEDED;
            background-color: #EDEDED;
        }
    }
    &--sec {
        display: inline-block;
        width: 102px;
        padding: 9px 0;
        line-height: 24px;
        color: #fff;
        font-weight: 600;
        text-align: center;
        border: 1px solid #02897A;
        background-color: #02897A;
        border-radius: 4px;
        &:hover {
            color: #fff;
        }
    }
}
@media only screen and (max-width:576px) {
    .header {
        position: relative;
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    }
    .burger-btn {
        z-index: 3;
        display: block;
    }
    .menu {
        display: none;
        margin-left: 0;
    }
    .menu--open {
        position: absolute;
        top: 0;
        right: 0;    
        z-index: 2;
        display: block;
        max-width: 68%;
        width: 100%;
        height: 100vh;
        background-color: #02897A;
    }
    .menu__list {
        flex-direction: column;
        margin-top: 70px;
    }
    .menu__item + .menu__item {
        margin-top: 20px;
        margin-left: 0;
    }
    .menu-link {
        color: #fff;
    }
    .menu-link {
        // color: $main-text-color;
        &:hover {
            color: $main-text-color;
        }
        &--con {
            color: #fff;
            border: 1px solid #BCD0E5;
            &:hover {
                border: 1px solid #EDEDED;
                background-color: #EDEDED;
            }
        }
        &--sec {
            margin-right: 0;
            color: #02897A;
            border: 1px solid #fff;
            background-color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }
}