.manage {
    margin-bottom: 150px;
}
.manage__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.manage__item {
    display: flex;
    justify-content: space-between;
    &:nth-child(2) {
        flex-direction: row-reverse;
        padding: 36px 0 37px;
    }
    &:nth-child(3) {
        padding: 18px 0 18px;
    }
}
.manage__item + .manage__item {
    margin-top: 150px;
}
.manage__info {
    max-width: 486px;
    width: 100%;
    padding: 19px 0 39px;
}
.manage__jobs {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
    &--sec {
        margin-bottom: 12px;
    }
}
.manage__title {
    margin: 0 0 131px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
    &--sec {
        margin-bottom: 23px;
    }
}
.manage__text {
    margin: 0 0 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $main-text-color;
    &--sec {
        margin-bottom: 0;
    }
    &--rd {
        margin-bottom: 30px;
    }
    &--no {
        display: none;
    }
}
.manage__sublist {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.manage__subitem {
    display: flex;
    align-items: center;
    &::before {
        display: block;
        width: 35px;
        height: 35px;
        margin-right: 30px;
        background-image: url("../images/ic5.svg");
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-position: left;
        content: '';
    }
    &:nth-child(2) {
        &::before {
            background-image: url("../images/ic6.svg");
        }
    }
    &:nth-child(3) {
        &::before {
            background-image: url("../images/ic7.svg");
        }
    }
}
.manage__subitem + .manage__subitem{
    margin-top: 30px;
}
.text-div {
    max-width: 365px;
    width: 100%;
}
@media only screen and (max-width:576px) {
    .manage {
        margin-bottom: 80px;
    }
    .container {
        padding: 0 10px;
    }
    .manage__item {
        flex-direction: column-reverse;
        &:nth-child(2) {
            flex-direction: column-reverse;
            padding: 0;
        }
        &:nth-child(3) {
            padding: 0;
        }
    }
    .manage__item + .manage__item {
        margin-top: 95px;
    }
    .manage__info {
        margin-top: 50px;
        padding: 0;
    }
    .manage__title {
        margin-bottom: 16px;
    }
    .manage__text {
        margin-bottom: 16px;
        &--no {
            display: block;
        }
        &--rd {
            margin-bottom: 16px;
        }
        &--sec {
            margin-bottom: 0;
        }
    }
    .manage__subitem + .manage__subitem {
        margin-top: 16px;
    }
    .text-div {
        max-width: 287px;
    }
}