.res-hero {
    margin: 75px 0 65px;
}
.res-hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.res-hero__info {
    max-width: 535px;
    width: 100%;
}
.res-hero__title {
    margin: 0 0 24px;
    font-weight: 600;
    font-size: 40px;
    line-height: 149%;
    letter-spacing: -0.03em;
    color: $main-text-color;
}
.res-hero__text {
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.03em;
    color: $main-text-color;
}
.res-hero__form {
    position: relative;
}
.res-hero__input {
    max-width: 470px;
    width: 100%;
    margin-bottom: 24px;
    padding: 25px 27px;
    border: 1px solid #EAEAEA;
    border-radius: 100px;
}
.res-hero__btn {
    position: absolute;
    top: 10px;
    right: 75px;
    display: inline-block;
    width: 118px;
    padding: 25px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 0px;
    color: #FFFFFF;
    border: none;
    background: #02897A;
    border-radius: 100px;
}
.res-hero__span {
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $main-text-color;
}
.green-text {
    color: #02897A;
}
@media only screen and (max-width:576px) {
    .res-hero {
        margin: 50px 0 45px;
    }
    .res-hero__inner {
        flex-direction: column;
    }
    .res-hero__info {
        margin-bottom: 85px;
    }
    .res-hero__header {
        width: 353px;
        margin: 0 auto;
        text-align: center;
    }
    .res-hero__title {
        font-size: 36px;
    }
    .res-hero__text {
        line-height: 171%;
    }
    .res-hero__form {
        width: 346px;
        margin: 0 auto;
    }
    .res-hero__btn {
        right: 10px;
    }
}