.story {
    margin-bottom: 160px;
}
.story__title {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: $main-text-color;
    text-align: center;
}
.story__text {
    margin: 0 0 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $main-text-color;
    text-align: center;
}
.strategy-list {
    &--res {
        margin-bottom: 32px;
        padding-bottom: 0;
    }
}
.story__link {
    display: block;
    width: 142px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $main-text-color;
    text-decoration: none;
}
.story__img {
    margin-left: 10px;
}
@media only screen and (max-width:576px) {
    .story {
        margin-bottom: 60px;
    }
    .story__header {
        width: 351px;
        margin: 0 auto;
    }
    .story__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 48px;
    }
    .story__text {
        margin-bottom: 50px;
    }
    .strategy-list {
        &--res {
            flex-direction: column;
            width: 348px;
            margin: 0 auto 32px;
        }
    }
    .strategy-item--res + .strategy-item--res {
        margin-top: 32px;
    }
}