.strategy {
    margin-bottom: 150px;
}
.strategy__title{
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: $main-text-color;
}
.strategy__text {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.strategy-list {
    display: flex;
    margin: 0;
    padding-bottom: 80px;
    padding-left: 0;
    list-style-type: none;
}
.strategy-item + .strategy-item {
    margin-left: 32px;
}
.strategy-img {
    border-radius: 8px 8px 0px 0px;
}
.strategy-info {
    width: 348px;
    padding: 24px 30px 40px 24px;
    border: 1px solid #DEDEDE;
    border-radius: 0 0 8px 8px;
}
.strategy-subtext {
    margin: 0 0 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $main-text-color;
}
.bold {
    font-weight: 700;
}
.strategy-subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: $main-text-color;
    &--gre{
        color: #02897A;
    }
}
.carousel-indicators [data-bs-target] {
    bottom: -80px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #EFEFEF;
}
.carousel-indicators .active {
    opacity: 1;
    color: #02897A;
    background-color: #02897A;
}
.carousel-indicators {
    margin-bottom: 0;
}
.strategy-list{
    &--m {
        display: none;
    }
}
@media only screen and (max-width:576px) {
    .strategy {
        margin-bottom: 60px;
    }
    .strategy__header {
        max-width: 349px;
        width: 100%;
        margin: 0 auto;
    }
    .carousel-indicators {
        display: none;
    }
    .carousel-inner {
        display: none;
    }
    .strategy__text {
        margin-bottom: 40px;
    }
    .strategy-list {
        &--m {
            display: flex;
            flex-direction: column;
            width: 348px;
            margin: 0 auto;
        }
    }
    .strategy-item + .strategy-item {
        margin-top: 16px;
        margin-left: 0;
    }
}